*{
	margin: 0;
	padding: 0;
}
/*header start*/

header{
	padding: 10px 0;
	background-color: #121B2A;
}
.wrapper{
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
	/*border: 1px solid red;*/
}
.logo{
	width: 18%;
	float: left;
	/*border: 1px solid red;*/
}
.logo img{
	width: 100%;
}
.menu{
	margin-top: 45px;
	width: 70%;
	float: right;
	/*border: 1px solid red;*/
}
.menu ul{
	float: right;

}
.menu ul li{
	list-style-type: none;
	float: left;
}
.menu ul li a{
	padding: 0 20px;
	font-family:sans-serif; 
	font-size:16px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;

}
.menu ul li a:hover{
	color: #1F527D;
}

.menu ul li a:last-child{
	padding-right: 0;
}

/*header end*/
/*banner start*/
.banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 450px;
}
.b_content{
	margin-top: 200px;
	margin-bottom: 70px;
	width: 50%;
	/*border:1px solid red;*/
}
.b_content h1{
	font-family: sans-serif;
	font-size:38px ;
	font-weight:400 ;
	color: white;
	text-transform: capitalize;
}
.b_content h2{
	font-family: sans-serif;
	font-size: 43px;
	font-weight:700 ;
	color: #0375BB;
	text-transform: capitalize;
}
.b_content p{
	margin: 15px 0 30px;
	font-family: sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: white;
	line-height: 30px;
}

.b_content button{
	width: 200px;
	height: 50px;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #5D5D5D;
	text-transform: uppercase;
	background-color: #ffffff;
	border: none;
	cursor: pointer;
	transition: .3s all ease;
}
.b_content button:hover{
	color: white;
	background-color:#0375BB;
}

/*banner end*/

/*service start*/
.service{
	background-color: #121B2C;
	padding-top: 50px;
	padding-bottom: 10px;
}
.single{
	width: 29.1%;
    /*border: 1px solid white;*/
    float: left;
    padding: 50px 2%;
}
.single:last-child{
	border-right: 0; 
}
.single-top{
	overflow: hidden;
}
.t-img{
	width: 27%;
	float: left;
	/*border:1px solid white;*/
}
.t-img img{
	width: 100%;
}
.t-txt{
	margin-top:15px;
	width: 60%;
	float: left;
	/*border:1px solid white;*/
}
.t-txt h2{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: white;
}
.t-txt h2 span{
	font-family: sans-serif;
	font-size: 23px;
	font-weight: 400;
	color: #0375BB;
}
.t-txt h3{
	font-family: sans-serif;
	font-size: 23px;
	font-weight: 400;
	color: #0375BB;
}
.single-bottom{
}
.single-bottom p{
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: white;
	line-height: 25px;
}

/*service end*/
